<link rel="stylesheet" href="/stylesheets/aboutUs.css">

<div class="card-wrapper row">
    <div class="card col">
        <img src="/html/images/YellowBrickCodeLogo.png" alt="Yellow Brick Code" alt="card background" class="card-img">
        <img src="{{img}}" alt="profile image" class="profile-img">
        <h1>{{name}}</h1>
        <p class="job-title">STEP Intern</p>
        <p class="about">{{info}}</p>
        <a href="{{extra}}" class="btn">Learn more!</a>
        <ul class="social-media">
            <li><a href="{{facebook}}"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="{{twitter}}"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="{{instagram}}"><i class="fab fa-instagram-square"></i></a></li>
            <li><a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>