<div class="container my-5" id="problems-container">
  <h1>{{display}} Problems</h1>
  <ul class="nav nav-pills my-2">
    {{#each LIST_OPTIONS}}
    <li class="nav-item">
      <a class="nav-link {{#if (eq this.queryString @root.listOption)}}active{{/if}}" 
          href="/problems?list={{this.queryString}}">
        {{this.displayString}}
      </a>
    </li>
    {{/each}}
  </ul>
  {{#each problems}}
  <div class="card mb-3">
    <div class="card-body">
      <a href="/problems/{{this.id}}"><h5 class="card-title">{{this.title}}</h5></a>
      <p class="card-text">{{this.text}}</p>
      <a href="/problems/{{this.id}}/solutions"><p class="card-text">{{this.title}} Solution Rankings</p></a>
    </div>
  </div>
  {{/each}}

  <nav aria-label="Select Page">
    <ul class="pagination">
      {{#each paginationArray}}
        {{#if (eq this @root.currIndex)}}
        <li class="page-item active">
          <a class="page-link" href="?pageIndex={{this}}&list={{@root.listOption}}">
            {{this}}
          </a>
        </li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="?pageIndex={{this}}&list={{@root.listOption}}">
            {{this}}
          </a>
        </li>
        {{/if}}
      {{/each}}
    </ul>
  </nav>

  {{>submit}}
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#submitProblemModal">
    Submit a problem
  </button>
</div>
