<script src="/scripts/solutions.js" type="module"></script>

<div class="container mt-3">
  <h1>Solutions for <a href="/problems/{{problemId}}">{{problemTitle}}</a></h1>
  {{#if solutions}}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Complexity</th>
        <th scope="col">Submission</th>
      </tr>
    </thead>
    <tbody>
      {{#each solutions}}
      <tr>
        <th scope="row" class="align-middle">{{math @index "+" 1}}</th>
        <td class="username align-middle">{{this.username}}</td>
        <td class="align-middle">{{this.complexity}}</td>
        <td class="align-middle">
          <button class="btn btn-warning" id="{{this.username}}-button" data-toggle="collapse" href="#collapse{{@index}}" role="button" aria-expanded="false" aria-controls="collapse{{@index}}">
              View
          </button>
          <div class="collapse code-area" id="collapse{{@index}}">
            <textarea id="{{this.username}}-code-area" hidden></textarea>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>No solutions yet &mdash; be the first!</p>
  {{/if}}
</div>

