<script src="/scripts/solutions.js" type="module"></script>

<div class="container mt-3">
  <h1>Solutions for <a href="/problems/{{problemId}}">{{problemTitle}}</a></h1>

  <div class="card mt-3">
    <div class="card-header">
      <button class="btn btn-primary dropdown-toggle" type="button" id="keybind-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rank By
      </button>
      <div class="dropdown-menu" aria-labelledby="keybind-dropdown">
        <button class="dropdown-item rank-selection" value="difficulty">Halstead Difficulty</button>
        <button class="dropdown-item rank-selection" value="cyclomatic">Cyclomatic Complexity</button>
        <button class="dropdown-item rank-selection" value="lloc">Logical Lines of Code</button>
        <button class="dropdown-item rank-selection" value="ploc">Physical Lines of Code</button>
        <button class="dropdown-item rank-selection" value="params">Number of Parameters</button>
        <button class="dropdown-item rank-selection" value="density">Cyclomatic Complexity Density</button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ranking.title}}</h5>
      {{ranking.description}}
    </div>
  </div>

  {{#if solutions}}
  <table class="table table-striped mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">{{ranking.title}}</th>
        <th scope="col">Submission</th>
      </tr>
    </thead>
    <tbody>
      {{#each solutions}}
      <tr>
        <th scope="row" class="align-middle">{{math @index "+" 1}}</th>
        <td class="username align-middle"><a href="/users/{{this.username}}">{{this.username}}</a></td>
        <td class="align-middle">{{this.difficulty}} {{this.cyclomatic}} {{this.lloc}} {{this.ploc}} {{this.params}} {{this.density}}</td>
        <td class="align-middle">
          <button class="btn btn-warning" id="{{this.username}}-button" data-toggle="collapse" href="#collapse{{@index}}" role="button" aria-expanded="false" aria-controls="collapse{{@index}}">
            View
          </button>
          <div class="collapse code-area" id="collapse{{@index}}">
            <textarea id="{{this.username}}-code-area" hidden></textarea>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>No solutions yet &mdash; be the first!</p>
  {{/if}}
</div>

